<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Custom CSS -->
        <link href="../css/registration.css" type='text/css' rel="stylesheet"/>
    </head>


<body>

<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/">Registration</a></li>
                    <li><a href="/view">View</a></li>
                </ul>
            </div>
        </nav>
        <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="/update" method="POST" enctype="application/x-www-form-urlencoded"> 
                    <div class="container">

                    {{#if item}}

                  
                    <div>
                        <label for="name"><b>Full Name</b></label>
                        <input class="col-lg-12" type="text" placeholder="Enter Name" value="{{item.name}}" name="name" required>
                    
                    </div>

                    <div>
                        
                      <label for="email"><b>Email</b></label>
                      <input class="col-lg-12" type="text" placeholder="Enter Email" value="{{item.email}}" name="email" required>
                
                    </div>    

                    <div>
                      <label for="psw"><b>Password</b></label>
                      <input type="text" placeholder="Enter Password" value="{{item.password}}" name="psw" required>
                
                    </div>
                    <input type="hidden" name="id" value="{{item.id}}"/>
                    <div class="clearfix">
                        <button type="submit" class="signupbtn">Update</button>
                    </div>
                   {{else}}
                     {{#if message}}
                     <div class="alert alert-success">
                        <strong>{{message}}</strong> 
                    </div>
                     
                     {{else}}
                     <div class="alert alert-info">
                        <strong>!NO RECORD FOUND</strong> 
                    </div>
                     {{/if}}

                    {{/if}}




                    </div>
                  </form>
        </div>

    </div>
</div>


</body>
</html>
